<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link th:href="@{main.css}" rel="stylesheet" type="text/css"/>
  <title>Chat App</title>
</head>
<body>
<div class="centered">
<p th:text="${error}">error</p>
<h1 class="header">Enter</h1>
<form method="post" action="/enter/add">
  <input class="input1" th:type="text" name="userName"/>
  <input class="input2" th:type="submit" value="ENTER"/>
</form>
</div>
<img class="image" src="../SABERS2small.png" height="300" width="300"/>
</body>
</html>